---
---

$primary-color: #010101;
$secondary-color: #ff00cc;
$tertiary-color: #333399;
$background-color: #151515;
$font-stack: 'Roboto Flex', Sans-Serif;
$headings: 'Permanent Marker', Serif;
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800;8..144,900;8..144,1000");
@import "/assets/sass/spinner.css";
@import "/assets/sass/bio-block.css";
body {
    color: $primary-color;
    background: $background-color;
    font-family: $font-stack;
}
h1 {font-family: $headings;
    font-size:36pt;
    text-align: center;
    margin-bottom:0.5em;}

#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }

  #photo{width:100%;
    clip-path: circle(36% at 45% 47%);}