---
---

$primary-color: blue;
$secondary-color: gold;
$font-stack: 'Roboto Flex', Sans-Serif;
$headings: 'Permanent Marker', Serif;
$border-thick: 10px;
$border-bright: orange;
$border-style: solid;
$article-width: 60%;
$article-padding: 20px;
$article-margin: auto;
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800;8..144,900;8..144,1000");

body {
    color: $primary-color;
    background: $secondary-color;
    font-family: $font-stack;
}
article {
    border: $border-thick $border-style $border-bright;
    width: $article-width;
    padding: $article-padding;
    margin: $article-margin;
}
h1 {font-family: $headings;
    font-size:36pt;
    width:30%;
    margin:5%;
    margin-bottom:0;}

#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }

  #bio-block{
    display:block;
    width: 30%;
    margin:5%;
    margin-top:0;
    background:rgba(239,240,218,0.7)
    
  }
  #links span {
    padding:18pt;
  }
  #links span img{
    width:18pt;;
  }
  #photo{width:100%;}