<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/style.css">
  </head>
  <body>
    {% if page.background-type == "video" %}
    <div id="spinner-frame">
      <div class="spinner"></div>
    </div>
      <video id="background-video" autoplay muted></video>
    {% endif %}
    <section>
      <div id="bio-block">
        <h1>{{ page.title }}</h1>
        <img id="photo" src="/assets/img/joe.jpg"/>
        {{ content }}
      <div id="links">
        <span id="facebook"><a href="{{site.facebook}}"><img src="/assets/img/facebook-f.svg"/></a></span>
        <span id="facebook"><a href="{{site.github}}"><img src="/assets/img/github.svg"/></a></span>
        <span id="facebook"><a href="{{site.twitter}}"><img src="/assets/img/twitter.svg"/></a></span>
        <span id="facebook"><a href="{{site.youtube}}"><img src="/assets/img/youtube.svg"/></a></span>
        <span id="facebook"><a href="{{site.calendar}}"><img src="/assets/img/calendar-alt.svg"/></a></span>
      </div>
      {% if page.background-type == "video" %}
      <!-- <video id="bio-background-video" autoplay muted></video> -->
      {% endif %}
      </div>
      <script type="text/javascript" src="/assets/js/background_video.js"></script>
    </section>
    <footer>
      &nbsp;
    </footer>
  </body>
</html>